body, div, p, ul, h3, h4, a, span{
    margin: 0;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/*--------------------------------------------------------------------
                        linkedin environment
---------------------------------------------------------------------*/

body {
    background: #e9e9e9;
    font-family: sans-serif;
    padding-bottom:50px;
}

.column{
    width: 646px;
    margin: 0 auto;
}
p, li, ul, a, span, time {
    font-size: 13px;
}

/*-----------------------------------------------------------------------
                            old brust card
------------------------------------------------------------------------*/

#brust-card {
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px, rgba(0, 0, 0, 0.027451) -1px 0px 0px, rgba(0, 0, 0, 0.027451) 1px 0px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    line-height: 1.5;
}

.dosje-headding {
    margin-top: -20px;
    margin-bottom: 0px;
    margin-left: -20px;
    margin-right: 0px;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 7.5px 20px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    word-wrap: normal;
}


.burst-card, .salary-block {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid rgb(232, 232, 232);
    position: relative;
}

/*-----------------------------------------------------------------------------
                        new Dosje action tabs card
-----------------------------------------------------------------------------*/

#dosje-tabs-container {
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px, rgba(0, 0, 0, 0.027451) -1px 0px 0px, rgba(0, 0, 0, 0.027451) 1px 0px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 0px;
    line-height: 1.5;
    position: relative;
    margin-bottom:10px;
    font-size: 13px;
}
#dosje-tabs-container h3{
    font-size: 18px;
}

#dosje-tabs-container .tabs-menu{

}


.block-logo, .tabs-menu a {
    color: #2e7da3;
    display: block;
    float: left;
    padding: 10px 15px;
    font-size: 13px;
    line-height: 17px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
.tabs-menu a:hover,
.tabs-menu a:active{
    background: #F7F5F5;
}

.tabs-menu a.current {
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

.tab {
    border-top: 1px solid #d4d4d1;
    width: auto;
    padding: 30px;
    padding-top: 0;
}

.tab-content {
    display: none;
}

#tab-1 {
    display: block;
}

.block-logo {
    position: absolute;
    right: 0;
    top: 0;
    color: rgba(29, 33, 255, 0.96);
}

.vacancy, .no-info{
    padding: 30px 0;
    border-bottom: 1px solid #d4d4d1;
}
.vacancy article, .no-info article{
    margin-bottom: 15px;
}

.no-info article:last-child{
    margin-bottom: 0;
}

.vacancy-subnav {
    margin-bottom: 15px;
    line-height: 1.2;
}

.vacancy-subnav a {
    padding: 0 10px;
    border-right: 1px solid #6B6B6B;
    text-decoration: none;
    color: #6B6B6B;
}

.vacancy-subnav a:hover{
    text-decoration: underline;
}

.vacancy:last-child{
    border-bottom: none;
    padding-bottom: 10px;
}

.vacancy article, .no-info article{
    margin-bottom: 15px;
}

.no-info article:last-child{
    margin-bottom: 0;
}

.vacancy-subnav {
    margin-bottom: 15px;
    line-height: 1.2;
}

.vacancy-subnav a {
    padding: 0 10px;
    border-right: 1px solid #6B6B6B;
    text-decoration: none;
    color: #6B6B6B;
}

.vacancy-subnav a:hover{
    text-decoration: underline;
}

.vacancy-subnav a:first-child {
    padding-left: 0;
}

.vacancy-subnav a:last-child {
    padding-right: 0;
    border-right: none;
}

.confirmed-keyword {
    color:green;
}

.un-confirmed-keyword {
    color:red;
}

.task-list {
    list-style: none;
    padding-left: 0;
}

.task-list li{
    width: 100%;
    float: left;
}

.button {
    background: rgb(224, 224, 224);
    border-radius: 3px;
    border: 1px solid #B1B1B1;
    margin: 2px;
    padding: 3px 5px;
    cursor: pointer;
    text-align: center;
    min-width: 150px;
}
.button-completed {
    background-color: #7ADC4F;
    border-color: #69B51C;
    color: #246B0D;
}

time {
    display: block;
    width: 100%;
 }
time .beckward-time{
    float: right;
}

.comments-tab article{
    margin-bottom: 10px;
}

.comments-tab {
    padding-top: 25px;
}