body, div, p, ul, h3, h4, a, span{
    margin: 0;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/*--------------------------------------------------------------------
                        linkedin environment - not for production
---------------------------------------------------------------------*/
/*body styles for mockup*/
body {
    background: #e9e9e9;
    font-family: sans-serif;
    padding:50px 0;
}

/* container for mockup */
.column{
    width: 646px;
    margin: 0 auto;
}

/*-----------------------------------------------------------------------------
                        new Dosje action tabs card
-----------------------------------------------------------------------------*/

#dosje-tabs-container {
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px, rgba(0, 0, 0, 0.027451) -1px 0px 0px, rgba(0, 0, 0, 0.027451) 1px 0px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 0px;
    line-height: 1.5;
    position: relative;
    margin-bottom:10px;
    font-size: 13px;
}
#dosje-tabs-container h3{
    font-size: 18px;
}

.block-logo, .tabs-menu a {
    color: #2e7da3;
    display: block;
    float: left;
    padding: 10px 15px;
    font-size: 13px;
    line-height: 17px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
.tabs-menu a:hover,
.tabs-menu a:active{
    background: #F7F5F5;
}

.tabs-menu a.current {
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

.tab {
    border-top: 1px solid #d4d4d1;
    width: auto;
    padding: 30px;
    padding-top: 0;
}

.tab-content {
    display: none;
}

#tab-1 {
    display: block;
}

.block-logo {
    position: absolute;
    padding-right: 25px;
    right: 0;
    top: 0;
    color: rgba(29, 33, 255, 0.96);
}
.block-logo:hover{
    text-decoration: underline;
}

.vacancy, .no-info{
    padding: 25px 0;
    border-bottom: 1px solid #d4d4d1;
}
.vacancy article, .no-info article{
    margin-bottom: 15px;
}
.dosje-contacts h3{
    padding-bottom: 15px;
}
 .dosje-contacts article {
     padding-bottom: 25px;
 }
.dosje-contacts article p span{
    width: 23%;
    display: inline-block;
}
.no-info article:last-child{
    margin-bottom: 0;
}

.vacancy-subnav {
    margin-bottom: 15px;
    line-height: 1.2;
}

.vacancy-subnav a {
    padding: 0 10px;
    border-right: 1px solid #6B6B6B;
    text-decoration: none;
    color: #6B6B6B;
}

.vacancy-subnav a:hover{
    text-decoration: underline;
}

.vacancy:last-child{
    border-bottom: none;
    padding-bottom: 10px;
}

.vacancy article, .no-info article{
    margin-bottom: 15px;
}

.no-info article:last-child{
    margin-bottom: 0;
}

.vacancy-subnav {
    margin-bottom: 15px;
    line-height: 1.2;
}

.vacancy-subnav a {
    padding: 0 10px;
    border-right: 1px solid #6B6B6B;
    text-decoration: none;
    color: #6B6B6B;
}

.vacancy-subnav a:hover{
    text-decoration: underline;
}

.vacancy-subnav a:first-child {
    padding-left: 0;
}

.vacancy-subnav a:last-child {
    padding-right: 0;
    border-right: none;
}

.confirmed-keyword {
    color:green;
}

.un-confirmed-keyword {
    color:red;
}

.task-list {
    list-style: none;
    padding-left: 0;
}

.task-list li{
    width: 100%;
    float: left;
}

/*---------------------------------------
                buttons
----------------------------------------*/

.button {
    background: rgb(224, 224, 224);
    border-radius: 3px;
    border: 1px solid #B1B1B1;
    margin: 2px;
    padding: 3px 5px;
    cursor: pointer;
    text-align: center;
    min-width: 150px;
}
.button-completed {
      background-color: #7ADC4F;
      border-color: #69B51C;
      color: #246B0D;
  }
.button-blue {
    background-color: #4F6DDC;
    border-color: #3660AD;
    color: #FFFFFF;
}
.button-blue:hover {
    background-color: #46599E;
    border-color: #244073;
}
.button-gray {
    color: gray;
}
.dosje-login-button{
    min-width: 116px;
    display: block;
    padding: 6px;
}
.dosje-button-container{
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid #d4d4d1;
    padding-top: 15px;
}
/*------------------------------------------
          utility and typography
--------------------------------------------*/
p, li, ul, a, span, time {
    font-size: 13px;
}
.dosje-left{
    float: left;
}
.dosje-right{
    float: right;
}
/* for info texts like "*comments are only seen by you more info"*/
.dosje-info-exp,
.dosje-info-exp a{
    color: #ABABAB;;
}
/*----------------------------------------
             login form styles
------------------------------------------*/
.dosje-form{
    width: 250px;
}
.dosje-label{
    display: block;
    margin-bottom: 1px;
}
.dosje-input{
    border-radius: 3px;
    border: 1px solid #ABABAB;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
}
.dosje-forgot-password{
    text-decoration: none;
    color: #6B6B6B;
    float: left;
}
.dosje-forgot-password:hover,
.dosje-forgot-password:active{
    text-decoration: underline;
}
.dosje-error{
    color: red;
}
.dosje-field-error{
    background: #FFF2DB;
}
/*-----------------------------------------------
                  comments block
-------------------------------------------------*/
.comments-tab,
.dosje-contacts{
    padding-top: 25px;
}
.dosje-comments{
    width: 100%;
}
.dosje-comments .dosje-input{
    width: 250px;
}
.dosje-comments .dosje-comment-textfield{
    width: 100%;
    resize: vertical;
 }
.dosje-comments time {
    display: block;
    width: 100%;
 }

.dosje-comment{
    margin-top: 15px;
    border-top: 1px solid #d4d4d1;
    padding-top: 15px;
    position: relative;
}
.dosje-secondary-action-bar{
    position: absolute;
    right: 0;
    top: 10px;
    display: none;
}
.dosje-comment:hover > .dosje-secondary-action-bar{
    display: block;
}
/*-----------------------------------------------
                  contact block
-------------------------------------------------*/